<thf-page-default t-title="Portal de Doação e Adoção">
    <div class="thf-grid">
      <div class="thf-row">
  
          <div class="thf-md-12">
            <thf-divider class="thf-md-6"></thf-divider>
              <thf-modal #modal
              [t-primary-action]="confirm"
              [t-secondary-action]="close"
                 t-title="Login">
                
                 <form #formPost="ngForm">
                    <div class="thf-row">
                        <thf-input
                        class="thf-md-12"
                        name="titulo"
                        [(ngModel)]="post.titulo"
                        t-label="Título">
                      </thf-input>
                    </div>
                    <div class="thf-row">
                        <thf-textarea
                        name="descricao"
                        [(ngModel)]="post.descricao"
                        class="thf-md-12"
                        t-label="Descrição">
                      </thf-textarea>
                    </div>
                    
                  </form>
            
                </thf-modal>
            
            <thf-button
            class="thf-md-4"
              t-label="Criar Post"
              (t-click)="modal.open()">
            
            </thf-button>
            <thf-button
            class="thf-md-2"
              t-label="Sair"
              t-icon="thf-icon thf-icon-exit"
              (t-click)="sair()">
            
            </thf-button>
          </div>
        <br>
        <div class="thf-md-12">
            <thf-widget  class="thf-lg-12">
            
           
                <div class="thf-md-12">
                    <thf-slide
                    t-height="150"
                    [t-slides]="sampleItems">
                    <ng-template t-slide-content-template let-item>
                      <div class="sample-background-image"
                        [style.background-image]="'url(' + item.imagem + ')'"
                        [style.backgroundSize]="'cover'"
                        [style.height.%]="200">
                        
                      </div>
                    </ng-template>
                  </thf-slide>
                  
                </div>     
             
             
          
  
            </thf-widget>
  
        </div>
        

      </div> 
      <div class="thf-row" >
        <div *ngFor="let post of posts">
          <div class="thf-md-12">
              <thf-widget
              class="thf-lg-12"
              t-height="150"
              >
            <div class="thf-row">
              <h2  class="color"><span class="thf-icon thf-icon-message "></span>
                {{post.titulo}}</h2>
              <thf-divider></thf-divider>
             <p>{{post.descricao}}</p>
             <thf-button
             class="thf-md-3"
               t-label="Acompanhar"
               t-icon="thf-icon thf-icon-like"
               (t-click)="acompanhar()">
             
             </thf-button>
             <thf-button
             class="thf-md-3"
               t-label="Enviar Mensagem"
               t-icon="thf-icon thf-icon-chat"
               t-disabled="true"

               (t-click)="enviarMensagem(post.contador)">
             </thf-button>
            </div>
            
            </thf-widget>
          </div>  
         
        </div>
        
        </div>   
  </div>
</thf-page-default>
